<label>Day of the week:</label>
<input type="checkbox" name="day-of-the-week[]" value="1"> Monday
<input type="checkbox" name="day-of-the-week[]" value="2"> Tuesday
<input type="checkbox" name="day-of-the-week[]" value="3"> Wednesday
<input type="checkbox" name="day-of-the-week[]" value="4"> Thursday
<input type="checkbox" name="day-of-the-week[]" value="5"> Friday
<input type="checkbox" name="day-of-the-week[]" value="6"> Saturday
<input type="checkbox" name="day-of-the-week[]" value="7"> Sunday