<div id="case-exist" class="container-fluid">
    <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
        <div class="col-12 col-md-4 col-lg-3 h-50 my-5">
            <div class="card shadow">
                <div class="card-body mx-auto col-12">
                    <h4 class="card-title mt-3 text-center">비밀번호 재설정</h4>
                    <p class="text-center">이메일을 입력하세요</p>
                    <form id="form">
                        <div class="form-group input-group">
                            <input id="email" class="form-control" placeholder="이메일" type="email">
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="requestEmail()" class="btn btn-primary btn-block">이메일 발송
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal text-left" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertText">
                <input type="hidden" id="modal-hidden-input" value="" />
            </div>
            <div class="modal-footer">
                <button onclick="" data-id="" id="modal-confirm" type="button"
                    class="btn btn-outline-sparta btn-confirm" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>


<script>

    function requestEmail() {
        const email = $('#email').val()
        $.ajax({
            type: 'GET',
            url: '/api/users/email/resetpassword/send',
            data: {
                email:email
            },
            success: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.message);
                $('#modal-confirm').html('확인');
                $('#modal-confirm').attr('onclick',"location.href='/'")
                $('#alertModal').modal('show');
            },
            error: function (response){
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#alertModal').modal('show');
            }
            
        });
    }
</script>