<footer id="footer">
    <div class="inner">
        <section>
            <h2>팀 소개</h2>
            <p>이 사이트는 내일배움캠프 4기 모두의 병원팀이 만들었습니다.</p>
            <p>부족하지만 많은 사랑과 관심 부탁드립니다.</p>
            <p>개발자: </p>
        </section>
        <ul class="icons">
            <li><span class="label">김범석의 GitHub</span>
                <a href="https://github.com/St0ne96" class="icon brands style2 fa-github"
                    ></a
                >
            </li>
            <li><span class="label">이희찬의 GitHub</span>
                <a href="https://github.com/reggias" class="icon brands style2 fa-github"
                    ></a
                >
            </li>
            <li>
                <span class="label">주민석의 GitHub</span>
                <a href="https://github.com/MinseokJoo" class="icon brands style2 fa-github"></a>
            </li>
            <li>
                <span class="label">김기민의 GitHub</span>
                <a href="https://github.com/jennaaaaaaaaa" class="icon brands style2 fa-github"></a>
            </li>
            <li>
                <span class="label">최준혁의 GitHub</span>
                <a href="https://github.com/devneken" class="icon brands style2 fa-github"></a>
            </li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved</li>
            <li>Design: 모두의 병원</li>
        </ul>
    </div>
</footer>