<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="" onclick="location.href='/admin'" class="logo">
            <span class="symbol"><img src="images/healing.png" alt="" /></span
            ><span class="title">모두의 병원</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="" onclick="location.href='/'">Home</a></li>
        <li><a href="generic.html">로그인</a></li>
        <li><a href="generic.html">회원가입</a></li>
        <li><a href="generic.html">원장님의 공간</a></li>
        <li><a href="" onclick="location.href='/admin'">서비스관리자</a></li>
    </ul>
</nav>
