<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="" onclick="location.href='/admin'" class="logo">
            <span class="symbol"><img src="images/healing.png" alt="" /></span
            ><span class="title">모두의 병원</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>