
<style>
    /* .doctor_profile{
        

    } */



</style>
<div>

    <div style="overflow-x: auto;" class="kind_wrap">
        <div class="kind_slider" id="hospital-image">
            <img src ="" alt="병원사진">
        </div>
    </div>
    <div class="arrow">
        <a href="" class="prev">이전</a>
        <a href="" class="next">다음</a>
    </div>
     
    <div>
        <table id="departmentList">
            <tr>
                <th>진료과</th>
            </tr>
        </table>
    </div>
    <div>
        병원 오픈 시간대
    </div>
    <div>
        <div>
            <img src="" class="doctor_profile" alt="의사사진">
        </div>
        <div>의사 이름</div>
        <div>의사소개글</div>
        <div>각의사진료과</div>
        <div>근무날</div>
    </div>
    <div class="review">
        <table id="reviewList">
            <tr>
                <th>#</th>
                <th>작성자</th>
                <th>내용</th>
                <th>평점</th>
                <th>작성날짜</th>
            </tr>
        </table>
    </div>
    <div>
        <button> 예약하기 </button>
    </div>
</div>

<script>

    $(document).ready(function(){
        getReview()
        getdoctor()
        getdepartment()
        gethospitalimage()
        getworktime()
    })

    const id = window.location.pathname.split('/')[1]
    function getworktime() {
        $.ajax({
            type: 'GET',
            url: `/api/hospitals/detail/${id}`,
            dataType: 'json',
            success: function (response) {
                const hospitalData = response;

                console.log("hospitalData.oneHospital", hospitalData.oneHospital.doctors[9].workTime[0].day)

                for (let i = 0; i < hospitalData.oneHospital.doctors.length; i++) {
                    for(let j = 0; j < hospitalData.oneHospital.doctors[i].workTime.length; j++)
                    // let workday = hospitalData.oneHospital.doctors[i].workTime[j].day;
                    
                //     let temp_html = `
                    
                //         <ul>
                //             <img width="200px" src ="${hospitalimage}" alt="병원사진">
                //         </ul>
                //    `;

                    $('#hospital-image').append(temp_html);
                }
            },
            error: function(error){
                console.log(error.responseJSON)
            }
        });
    }

    //첫번째 이미지 안 찍힘
    function gethospitalimage() {
        $.ajax({
            type: 'GET',
            url: `/api/hospitals/detail/${id}`,
            dataType: 'json',
            success: function (response) {
                const hospitalData = response;

                // console.log("hospitalData.oneHospital", hospitalData.oneHospital.hospitalImage[1].url)

                for (let i = 0; i < hospitalData.oneHospital.hospitalImage.length; i++) {
                    let hospitalimage = hospitalData.oneHospital.hospitalImage[i].url;
                    
                    let temp_html = `
                    
                        <ul>
                            <img width="200px" src ="${hospitalimage}" alt="병원사진">
                        </ul>
                   `;

                    $('#hospital-image').append(temp_html);
                }
            },
            error: function(error){
                console.log(error.responseJSON)
            }
        });
    }

    //의사들 진료과목
    function getdepartment() {
        $.ajax({
            type: 'GET',
            url: `/api/hospitals/detail/${id}`,
            dataType: 'json',
            success: function (response) {
                const hospitalData = response;

                for (let i = 0; i < hospitalData.oneHospital.doctors.length; i++) {
                    let department = hospitalData.oneHospital.doctors[i].department;
                    
                    let temp_html = `<tbody>
                        <tr>
                        <td>${department}</td>
                        </tr>
                    </tbody>`;

                    $('#departmentList').append(temp_html);
                }
            },
            error: function(error){
                console.log(error.responseJSON)
            }
        });
    }

    //의사 이미지 및 정보
    function getdoctor() {
        $.ajax({
            type: 'GET',
            url: `/api/hospitals/detail/${id}`,
            dataType: 'json',
            success: function (response) {
                const hospitalData = response;

                for (let i = 0; i < hospitalData.oneHospital.doctors.length; i++) {
                    let doctors = hospitalData.oneHospital.doctors[i].doctors;
                    let doctorImage = hospitalData.oneHospital.doctors[i].doctorImage;
                    let doctorContent = hospitalData.oneHospital.doctors[i].doctorContent;
                    let department = hospitalData.oneHospital.doctors[i].department;
                    let workTime = hospitalData.oneHospital.doctors[i].workTime;

                    let temp_html = `<tbody>
                        <tr>
                        <td>${doctors}</td>
                        <th><img width="60px" src="${doctorImage}" alt="의사사진">의사사진</th>
                        <td>${doctorContent}</td>
                        <td>${department}</td>
                        <td>${workTime}</td>
                        </tr>
                    </tbody>`;

                    $('#doctorsList').append(temp_html);
                }
            },
            error: function(error){
                console.log(error.responseJSON)
            }
        });
    }

    //리뷰조회
    function getReview() {        
        $.ajax({
            type: 'GET',
            url: `/api/hospitals/detail/${id}`,
            dataType: 'json',
            success: function (response) {
                const hospitalData = response;

                for (let i = 0; i < hospitalData.oneHospital.reviews.length; i++) {
                    let userId = hospitalData.oneHospital.reviews[i].userId;
                    let name = hospitalData.oneHospital.reviews[i].name;
                    let contents = hospitalData.oneHospital.reviews[i].contents;
                    let star = hospitalData.oneHospital.reviews[i].star;
                    let createdAt = hospitalData.oneHospital.reviews[i].createdAt;

                    let temp_html = `<tbody>
                        <tr>
                        <th scope="row">${i + 1}</th>
                        <td>${name}</td>
                        // 서버에서 name 값 안들어옴
                        <td>${contents}</td>
                        <td>${star}</td>
                        <td>${createdAt}</td>
                        </tr>
                    </tbody>`;

                    $('#reviewList').append(temp_html);
                }
            },
            error: function(error){
                console.log(error.responseJSON)
            }
        });
    }

    

// 병원 상세 페이지를 클릭했을 때

// 그 병원의 의사의 근무시간의 요일 스타트 타임 엔드 타임만 가져와서
// 프론트에 넣으면 됨?

// 의사의 근무시간으로



// findworkingDateBy(오늘 날짜, 요일)

// 요일을 보내는 함수(reservaion.ejs get	DataStr => 숫자로 넣으면 요일로 바꿔줌


// 워킹타임 서비스에서 
// 변수 워킹타임 데이트 

// 의사의 데이오브더위크 값 가져오는 
// 워킹타입 레파에 
// findworkingDateBy(오늘 날짜, 요일)

// 타임값을 배여로 만들어서 순서 비교해서 asc 오름차순

</script>