<div class="inner">
    <h1>백오피스</h1>

    <section class="ftco-section">
        <div class="container1">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">전체 예약관리</li>
                <li class="tab-link" data-tab="tab-2">예약확정</li>
                <li class="tab-link" data-tab="tab-3">예약대기</li>
                <li class="tab-link" data-tab="tab-4">리뷰관리</li>
                <li class="tab-link" data-tab="tab-5">우리 병원 정보</li>
            </ul>

            <div id="tab-1" class="tab-content current">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table" id="reservationList">
                                <thead class="thead-primary">
                                        </div>
                                             <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">당담의사</th>                                                                           
                                                <th scope="col">환자</th>
                                                <th scope="col">주민번호</th>
                                                <th scope="col">전화</th>
                                                <th scope="col">증상</th>
                                                <th scope="col">예약날짜</th>                                                                                                                     
                                                <th scope="col">승인</th>                                               
                                            </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table" id="approvedreservationList">
                                <thead class="thead-primary">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">당담의사</th>                                                                           
                                        <th scope="col">환자</th>
                                        <th scope="col">주민번호</th>
                                        <th scope="col">전화</th>
                                        <th scope="col">증상</th>
                                        <th scope="col">예약날짜</th>                                                                                                                     
                                        <th scope="col">승인</th>    
                                    </tr>
                                </thead>                          
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table" id="waitingreservationList">
                                <thead class="thead-primary">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">당담의사</th>                                                                           
                                        <th scope="col">환자</th>
                                        <th scope="col">주민번호</th>
                                        <th scope="col">전화</th>
                                        <th scope="col">증상</th>
                                        <th scope="col">예약날짜</th>                                                                                                                     
                                        <th scope="col">승인</th> 
                                    </tr>
                                </thead>                          
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table" id="reviewList">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>작성자</th>
                                        <th>내용</th>
                                        <th>평점</th>
                                        <th>작성날짜</th>                                        
                                    </tr>
                                </thead>                          
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-5" class="tab-content">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">[name]</h5>
                      <p class="card-text">주소: [address]</p>
                      <p class="card-text">전화번호: [phone]</p>
                      <p class="card-text">위도: [latitude]</p>
                      <p class="card-text">경도: [longitude]</p>
                      <p class="card-text">생성 날짜: [createdAt]</p>
                      <p class="card-text">업데이트 날짜: [updatedAt]</p>
                      <button onclick="location.href='/register'">우리 병원 등록하기</button>
                    </div>
                </div>
            </div>
    </section>
</div>









