<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<form action="" method="post">
    <table>
        <tr id="Id">            <td>Email : </td>
            <td><input type="text" id="loginId" name="loginId"></td>
        </tr>
        <tr id="pw">
            <td>password : </td>
            <td><input type="password" id="password" name="password"></td>
        </tr>
        <!-- <tr>
            <td><input type="submit" value="로그인"></td>
        </tr> -->

        
    </table>
    <div>
        <button class="button login__submit" id="login">로그인</button>
        <p><a href="/findmypassword">비밀번호를 잊으셨나요?</a></p>
        <p><a href="/signup">계정이 없으신가요?</a></p>
    </div>
</form>
<script>

    document.getElementById("login").addEventListener("click", (event) => {
    event.preventDefault()

    const data = {
      loginId: document.getElementById("loginId").value,
      password : document.getElementById("password").value
    }

    fetch("/api/users/login", {
        credentials: 'include',
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',

            },
            body: JSON.stringify(data), //
        })

        //원래 적혀 있었던 코드
        .then((response) => { //요청한 api 응답이 들어왔을 때 실행됨
            if (response.status === 412) {//에러처리 해준 status 기입
                alert('이메일 또는 비밀번호가 틀렸습니다');
                window.location.reload();
            }
            if (response.status === 422) {
                alert('잘못된 형식입니다.'); //잘못 입력하면 자꾸 이쪽으로 감
                window.location.reload();
            }
            // if (!data) {
            //     alert('정보를 입력해주세요')
            //     window.location.reload();
            // }
            location.href = '/';
        })


        .catch((err) => {
            alert(err.message);
            window.location.reload();
        });
    })
 
    
</script>

</body>
</html>