<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>로그인</title>
</head>

<body>
    <div id="main">
        <div class="inner">
            <div style="margin-top: 100px;">
                <section>
                    <!-- <h2 style="margin-left: 100px;">로그인</h2> -->
                    <form method="post" action="" name="loginForm">
                        <div class="row gtr-uniform" style="display: block;">
                            <div class="col-5 col-12-xsmall" id="Id" style="margin: 0 auto;">
                                <input type="email" name="loginId" id="loginId" value="" placeholder="Email" />
                            </div>
                            <div class="col-5 col-12-xsmall" id="pw" style="margin: 0 auto;">
                                <input type="password" name="password" id="password" value="" placeholder="password" />
                            </div>
                        </div>
                    </form>
                </section>
                <div style="text-align: center;">
                    <button style="width: 150px; display: inline-block;" class="button login__submit" id="login" >로그인</button>
                </div>
                <div style="margin-top: 40px;">
                    <p style="text-align: center; margin-bottom:0px; font-size: 14px;"><a href="/findmypassword">비밀번호를 잊으셨나요?</a></p>
                    <p style="text-align: center; font-size: 14px;"><a href="/signup">계정이 없으신가요?</a></p>
                </div>
            </div>
        </div>
    </div>

    <script>

        // $('#loginId #password').on('keydown', function(e){
        //     if(e.Code == 'Enter'){
        //         $('#login').click();
        //     }
        // })

        document.addEventListener('keydown', (event) => {
            if (event.keyCode === 13 && event.target.id === 'password') { // Enter key
                event.preventDefault();

                const data = {
                    loginId: document.getElementById('loginId').value,
                    password: document.getElementById('password').value,
                };

                fetch("/api/users/login", {
                    credentials: 'include',
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data), //
                })
                .then((response) => { //요청한 api 응답이 들어왔을 때 실행됨
                    if (response.status === 412) {//에러처리 해준 status 기입
                        alert('이메일 또는 비밀번호가 틀렸습니다');
                        window.location.reload();
                    }
                    if (response.status === 422) {
                        alert('잘못된 형식입니다.'); //잘못 입력하면 자꾸 이쪽으로 감
                        window.location.reload();
                    }
                    // if (!data) {
                    //     alert('정보를 입력해주세요')
                    //     window.location.reload();
                    // }
                    alert('로그인 되었습니다.')
                    location.href = '/';
                })
                .catch((err) => {
                    alert(err.message);
                    window.location.reload();
                });
            };

        }) 
            

            
    </script>
</body>

</html>