<div id="main">
    <div class="inner">
        <header>
            <h1>
                나를 위한 병원은 어디~?<br />
                나를 위한 병원을 누구보다 쉽게
            </h1>
            <p>
                지금까지 이런 웹 페이지는 없었다! 내 이웃집 아주머니도 이거 쓴다던데?
                사돈의 팔촌까지 이용하는 혁신 플랫폼! 모두의 병원!
            </p>
        </header>
        <section class="tiles">
            <article class="style1">
                <span class="image">
                    <img src="images/hospital.png" alt="" />
                </span>
                <a href="/map/hospitals">
                    <h2>병원찾기</h2>
                    <div class="content">
                        <p>내 주위에 어떤 병원이 있는지 알고 싶다면?</p>
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="images/pharmacy.png" alt="" />
                </span>
                <a href="generic.html">
                    <h2>약국찾기</h2>
                    <div class="content">
                        <p>내 주위에 어떤 약국이 있는지 알고 싶다면?</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>
