<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      text-align: center;
      text-decoration: none;
      font-size: 50px;
    }
    #homeBtn {
      margin-top: 20px;
      min-width: 200px;
      min-height: 150px;
      background-color: #e8e8e8;
    }

    #homeBtn:hover {
      background-color: #999;
      cursor: pointer;
    }
  </style>
  <title>모두의 병원</title>
</head>
<body>
  <button onclick="location.href='/'" id="homeBtn">모두의 병원</button>
  <p>잘못된 페이지 형식입니다! 홈버튼을 눌러주세요!</p>
</body>
</html>
