<style>
    .vh-100 profile {
        font: optional;
    }

    .hover-effect:hover {
        opacity: 0.5;
    }

    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .rating > input {
        display: none;
    }

    .rating > label {
        position: relative;
        width: 1em;
        font-size: 6vw;
        color: #ffd600;
        cursor: pointer;
    }

    .rating > label::before {
        content: '\2605';
        position: absolute;
        opacity: 0;
    }

    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
        opacity: 1 !important;
    }

    .rating > input:checked ~ label:before {
        opacity: 1;
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4;
    }

    #my_info_header {
        border-color: #585858;
        border-style: solid;
        border-top-width: 2px;
        border-left-width: 2px;
        border-right-width: 2px;
        border-radius: 1rem 1rem 0rem 0rem / 1rem 1rem 0rem 0rem;
        width: 1600px;
        height: 80px;
        padding: 25px 25px 25px 100px;
        font-size: 15px;
    }

    .my_info_box {
        border: 1px solid;
        width: 25%;
        height: 800px;
        font-weight: 600;
    }

    #my_info_1_box {
        float: left;
        border-radius: 0rem 0rem 0rem 1rem / 0rem 0rem 0rem 1rem;
        border-color: #585858;
        border-left-width: 2px;
        border-bottom-width: 2px;
    }

    #my_info_2_box {
        float: left;
        border-color: #585858;
        border-left: 0px;
        border-bottom-width: 2px;
    }

    #my_info_3_box {
        float: left;
        border-color: #585858;
        border-left: 0px;
        border-bottom-width: 2px;
    }

    #my_info_4_box {
        float: left;
        border-radius: 0rem 0rem 1rem 0rem / 0rem 0rem 1rem 0rem;
        border-color: #585858;
        
        border-left: 0px;
        border-right-width: 2px;
        border-bottom-width: 2px;
    }

    #wrapper > * > .inner {
        width: 100%;
        max-width: 80em;
        margin: 0 auto;
        padding: 0 2.5em;
    }

    #my_info_title {
        margin-top: 15px;
        float: left;
    }

    #editButton {
        float: left;
        margin: 15px 40px 0px 10px;
        cursor: pointer;
    }

    #header .logo {
        margin: 0 0 2.5em 50px;
    }

    #editButton:hover + p.arrow_box {
        display: block;
    }

    #input-user-data {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
        margin-left: -50px;
    }

    #input-user-data > h6 {
        font-size: 20px;
        margin: 0px 10px 0px 30px;
    }

    #input-user-loginId {
        width: 230px;
        border: 0px;
        border-radius: 10px;
    }

    #input-user-name {
        width: 100px;
        border: 0px;
        border-radius: 10px;
    }

    #input-user-phone {
        width: 150px;
        border: 0px;
        border-radius: 10px;
    }

    #input-user-address {
        width: 550px;
        border: 0px;
        border-radius: 10px;
        margin-right: 50px;
    }

    .btn button-info {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
        background-color: transparent;
        border-radius: 4px;
        border: 0;
        box-shadow: inset 0 0 0 2px #585858;
        color: #585858 !important;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 900;
        height: 3.5em;
        letter-spacing: 0.35em;
        line-height: 3.45em;
        overflow: hidden;
        padding: 0 1.25em 0 1.6em;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
    }

    #address_modal {
    display: none;
    height: 800px;
    padding: 20px 200px;
    background-color: #fefefe;
    border: 2px solid #888;
    border-radius: 5px;
    overflow: hidden auto;

    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
}

#address_modal .modal_close_btn {
    position:absolute;
    display:inline-block;
    *display:inline;
    width:50px;
    height:50px;
    text-align:center;
    margin-right:20px;
    top: 30px;
    right: 10px;
}

#address_modal .modal_close_btn:after {content: "\00d7"; font-size:50pt;line-height:35px;}

#my_modal {
    display: none;
    height: 800px;
    padding: 20px 200px;
    background-color: #fefefe;
    border: 2px solid #888;
    border-radius: 5px;
    overflow: hidden auto;

    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
}

#my_modal .modal_close_btn {
    position:absolute;
    display:inline-block;
    *display:inline;
    width:50px;
    height:50px;
    text-align:center;
    margin-right:20px;
    top: 30px;
    right: 10px;
}

#my_modal .modal_close_btn:after {content: "\00d7"; font-size:50pt;line-height:35px;}

.btn_modal {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 15%;
    max-width: 20%;
}

.cancel_btn {
    width:10px;
    height:10px;
    text-align:center;
    margin: -150px 30px 0px 0px;
    float: right;
}

.reservationManagerPicture {
    position: relative;
    float:left;
    width:100px;
    padding:15px 30px 0px 10px;
}

.cancel_btn:after {content: "\00d7"; font-size:30pt;line-height:35px;}

.my_info_small_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.reservationManagerInfo {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
} 

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h6 {
    margin: 0px;
    font-size: 1em;
}

button.button-review {
    background-color: transparent;
    border-radius: 1rem 1rem 1rem 1rem / 1rem 1rem 1rem 1rem;
    box-shadow: inset 0 0 0 2px #585858;
    color: #585858 !important;
    cursor: pointer;
    font-size: 12px;
    font-weight: 900;
    width: 50px;
    padding: 0px 0px 3px 3px;
    margin: -255px 0px 0px 320px
}

.button-review:hover {
    color: #f2849e !important;
    box-shadow: inset 0 0 0 2px #f2849e;
}

img {
    vertical-align: top;
}

</style>

<div id="main">
    <div class="inner">
        <h1 style="margin-left: 80px;">내 정보</h1>
        <div style="overflow: hidden; margin-left: 100px;">
            <h2 id="my_info_title">내 정보 수정</h2>
            <a onclick="showInput()" id="editButton" class="table-link">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-pencil hover-effect"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                    />
                </svg>
            </a>
            <div
                id="edit-buttons"
                class="column pt-1 d-non"
                style="text-align: left; margin: auto auto 20px auto"
            >
                <input
                    id="edit-button"
                    onclick="editProfile()"
                    type="hidden"
                    style="margin-right: 5px;"
                    class="btn button-info"
                    value="수정"
                >
                </input>
                <input
                    id="edit-cancel-button"
                    onclick="hideInput()"
                    style="margin-right: 5px;"
                    type="hidden"
                    class="btn button-info"
                    value="취소"
                >
                </input>
            </div>
        </div>
        <div class="table-wrapper" style="overflow: hidden">
            <div id="my_info_header">
                <div id="input-user-data" class="column pt-1 d-non">
                    <h6>ID</h6>
                    <input id="input-user-loginId" class="text-muted" value="" disabled />
                    <h6>이름</h6>
                    <input id="input-user-name" value="" class="text-muted" value="" disabled />
                    <h6>연락처</h6>
                    <input id="input-user-phone" class="text-muted" value="" disabled />
                    <h6>주소</h6>
                    <input
                        id="input-user-address"
                        value=""
                        disabled
                        onclick="openAddressModal()"
                    />
                </div>
            </div>
            <div class="my_info_box" id="my_info_1_box">
                <div id="approved-list">
                    <h6 class="my_info_small_title">예약이<span style="color: #ee5f81;">&nbsp;완료</span>된 진료</h6>
                    <hr class="mt-0 mb-4" />
                    <div id="approved" class="column pt-1"></div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pages-approved">
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="approved"
                                    onclick="previousPage('approved')"
                                    aria-label="Previous"
                                >
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <div id="pages">
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('approved')"
                                        class="page-link"
                                        id="approved-page1"
                                        data-page="1"
                                        >1</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('approved')"
                                        class="page-link"
                                        id="approved-page2"
                                        data-page="2"
                                        >2</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('approved')"
                                        class="page-link"
                                        id="approved-page3"
                                        data-page="3"
                                        >3</a
                                    >
                                </li>
                            </div>
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="approved"
                                    onclick="nextPage('approved')"
                                    aria-label="Next"
                                >
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="my_info_box" id="my_info_2_box">
                <div id="waiting-list">
                    <h6 class="my_info_small_title">예약 확정<span style="color: #ee5f81;">&nbsp; 대기</span>중</h6>
                    <hr class="mt-0 mb-4" />
                    <div id="waiting" class="column pt-1"></div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pages-waiting">
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="waiting"
                                    onclick="previousPage('waiting')"
                                    aria-label="Previous"
                                >
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <div id="pages">
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('waiting')"
                                        class="page-link"
                                        id="waiting-page1"
                                        data-page="1"
                                        >1</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('waiting')"
                                        class="page-link"
                                        id="waiting-page2"
                                        data-page="2"
                                        >2</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('waiting')"
                                        class="page-link"
                                        id="waiting-page3"
                                        data-page="3"
                                        >3</a
                                    >
                                </li>
                            </div>
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="waiting"
                                    onclick="nextPage('waiting')"
                                    aria-label="Next"
                                >
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="my_info_box" id="my_info_3_box">
                <div id="doneOrReviewed-list">
                    <h6 class="my_info_small_title">진료를<span style="color: #ee5f81;">&nbsp;마친 </span> 내역</h6>
                    <hr class="mt-0 mb-4" />
                    <div id="doneOrReviewed" class="column pt-1"></div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pages-doneOrReviewed">
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="doneOrReviewed"
                                    onclick="previousPage('doneOrReviewed')"
                                    aria-label="Previous"
                                >
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <div id="pages">
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('doneOrReviewed')"
                                        class="page-link"
                                        id="doneOrReviewed-page1"
                                        data-page="1"
                                        >1</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('doneOrReviewed')"
                                        class="page-link"
                                        id="doneOrReviewed-page2"
                                        data-page="2"
                                        >2</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('doneOrReviewed')"
                                        class="page-link"
                                        id="doneOrReviewed-page3"
                                        data-page="3"
                                        >3</a
                                    >
                                </li>
                            </div>
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="doneOrReviewed"
                                    onclick="nextPage('doneOrReviewed')"
                                    aria-label="Next"
                                >
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="my_info_box" id="my_info_4_box">
                <div id="canceled-list">
                    <h6 class="my_info_small_title"><span style="color: #ee5f81;">&nbsp;취소</span>된 예약</h6>
                    <hr class="mt-0 mb-4" />
                    <div id="canceled" class="column pt-1"></div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pages-canceled">
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="canceled"
                                    onclick="previousPage('canceled')"
                                    aria-label="Previous"
                                >
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <div id="pages">
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('canceled')"
                                        class="page-link"
                                        id="canceled-page1"
                                        data-page="1"
                                        >1</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('canceled')"
                                        class="page-link"
                                        id="canceled-page2"
                                        data-page="2"
                                        >2</a
                                    >
                                </li>
                                <li class="page-item float-left">
                                    <a
                                        onclick="showPage('canceled')"
                                        class="page-link"
                                        id="canceled-page3"
                                        data-page="3"
                                        >3</a
                                    >
                                </li>
                            </div>
                            <li class="page-item">
                                <a
                                    class="page-link"
                                    data-status="canceled"
                                    onclick="nextPage('canceled')"
                                    aria-label="Next"
                                >
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="modal text-left"
    id="alertModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="alertModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertText">
                <input type="hidden" id="modal-hidden-input" value="" />
            </div>
            <div class="modal-footer">
                <button
                    onclick=""
                    data-id=""
                    id="modal-confirm"
                    type="button"
                    class="btn btn-outline-sparta btn-confirm"
                    data-dismiss="modal"
                ></button>
            </div>
        </div>
    </div>
</div>

<div id="address_modal">
    <div class="mainBox">
        <div class="contentBox">
            <div class="textLeft"><span style="color: #505050; font-size:40px; font-weight:700">주소 검색</span>
            <div class="underline"></div>
        </div>
        <input type="hidden" id="currentPage" value="1" style="text-align:center;"/>
        <input type="hidden" id="countPerPage" value="5" style="text-align:center;"/>
        <input type="text" id="zipCode" value="" onClick="addressWindowOpen();" readonly/>
        <input type="button" onClick="addressWindowOpen();" value="우편번호 찾기"/>
        <div id="wrap">
            <div>
                <input type="text" id="searchAddr" value="" onkeydown="enterSearch();" placeholder="도로명주소, 건물명 또는 지번 입력"/>
                <input type="button" onClick="getAddr();" value="주소검색"/>
            </div>
            <div>
                <div id="totoalOutcome">
                    검색결과 : <span id="totalCnt">0</span>
                </div>
                <table id="list"></table>
            </div>
            <div id="pagingList" style='text-align:center;'></div>
        </div>
        <div style="height:5px;"></div>
        <input type="text" id="roadaddress" value="" style="width:500px;" onClick="addressWindowOpen()" placeholder="도로명 주소, 지번 주소" readonly/>
        <div style="height:5px;"></div>
        <input type="text" id="detailAddress" style="width:500px;" onkeypress="javascript:if(event.keyCode===13) {inputData()}" value="" placeholder="상세 주소지 입력(필수)"/>
        <input type="button" value="입력" onclick="inputData()" />
        </div>
    </div>
    <a class="modal_close_btn" id="address_modal_close"></a>
</div>

<script src="/js/road.js"></script>
<script>
    $(document).ready(function () {
        getUserData();
        getApproved(1);
        getWaiting(1);
        getDoneOrReviewed(1);
        getCanceled(1);
    });

    function getUserData() {
        $.ajax({
            type: 'GET',
            url: `/api/users/mypage/userdata`,
            success: function (response) {
                const userData = response;
                if (userData.address === "null") {
                    userData.address = ""
                }

                $("#input-user-loginId").val(userData.loginId)
                $("#input-user-name").val(userData.name)
                $("#input-user-phone").val(userData.phone)
                $("#input-user-address").val(userData.address)

                let temp_html = ``;
                $('#user-data').append(temp_html);
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#alertModal').modal('show');
            },
        });
    }
    function getApproved(page) {
        $.ajax({
            type: 'GET',
            url: `/api/users/mypage/approved?&page=${page}`,
            success: function (response) {
                const approved = response;
                if (response.length === 0) {
                    $('#pages-approved').css('margin', '26.6em 0em 0em 0em');
                    swal({
                        title: '🤔 예약없음',
                        text: '이 페이지에는 현재 예약이 완료된 진료가 없습니다.\n 이미 하셨다구요? 병원측에서 아직 확인하지 않았으니 기다리시거나 별도의 연락이 필요합니다.',
                        icon: 'info',
                    }).then(() => {
                        return
                    });
                }

                if (page == 1 && !response.length) {
                    $('#pages-approved').attr('class', 'pagination d-none');
                    
                } else {
                    for (let i = 0; i < approved.length; i++) {
                        switch (approved.length) {
                            case 1: $('#pages-approved').css('margin', '20.1em 0em 0em 0em');
                            break
                            case 2: $('#pages-approved').css('margin', '13.5em 0em 0em 0em');
                            break
                            case 3: $('#pages-approved').css('margin', '7em 0em 0em 0em');
                            break
                        }
                        
                        let temp_html = ` 
                        <div class="reservationManagerPicture">
                <img width="100px" src='${approved[i].doctorImage}'>
                </div>
                <div class="reservationManagerInfo">
                    <span>${approved[i].hospitalName}</span><br>
                    <span>${approved[i].doctorName} 의사</span><br>
                    <span>${approved[i].date}</span>
                </div>
                <div>
                    <a class="cancel_btn" data-reservationId="${approved[i].id}" onclick="showCancelModal()"></a>
                </div>`;
                        $('#approved').append(temp_html);
                    }
                }
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#alertModal').modal('show');
            },
        });
    }

    function getWaiting(page) {
        $.ajax({
            type: 'GET',
            url: `/api/users/mypage/waiting?&page=${page}`,
            success: function (response) {
                const waiting = response;
                if (response.length === 0) {
                    $('#pages-waiting').css('margin', '26.6em 0em 0em 0em');
                    swal({
                        title: '🤔 예약없음',
                        text: '이 페이지에는 현재 예약하신 진료가 없습니다.',
                        icon: 'info',
                    }).then(() => {
                        return
                    });
                }
                if (page == 1 && !response.length) {
                    $('#pages-waiting').attr('class', 'pagination d-none');
                } else {
                    for (let i = 0; i < waiting.length; i++) {
                        switch (waiting.length) {
                            case 1: $('#pages-waiting').css('margin', '20.1em 0em 0em 0em');
                            break
                            case 2: $('#pages-waiting').css('margin', '13.5em 0em 0em 0em');
                            break
                            case 3: $('#pages-waiting').css('margin', '7em 0em 0em 0em');
                            break
                        }
                        let temp_html = `<div class="reservationManagerPicture">
            <img width="100px" src='${waiting[i].doctorImage}'>
        </div>
        <div class="reservationManagerInfo">
            <span>${waiting[i].hospitalName}</span><br>
            <span>${waiting[i].doctorName} 의사</span><br>
            <span>${waiting[i].date}</span>
        </div>
        <div>
            <a class="cancel_btn" data-reservationId="${waiting[i].id}" onclick="showCancelModal()"></a>
        </div>`;
                        $('#waiting').append(temp_html);
                    }
                }
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#alertModal').modal('show');
            },
        });
    }

    function getDoneOrReviewed(page) {
        $.ajax({
            type: 'GET',
            url: `/api/users/mypage/doneorreviewed?&page=${page}`,
            success: function (response) {
                const doneOrReviewed = response;
                if (response.length === 0) {
                    $('#pages-doneOrReviewed').css('margin', '26.6em 0em 0em 0em');
                    swal({
                        title: '🤔 완료된 진료없음',
                        text: '이 페이지에는 현재 진료를 마친 내역이 없습니다.',
                        icon: 'info',
                    }).then(() => {
                        return
                    });
                    
                }
                if (page == 1 && !response.length) {
                    $('#pages-doneOrReviewed').attr('class', 'd-none');
                } else {
                    for (let i = 0; i < doneOrReviewed.length; i++) {
                        switch (doneOrReviewed.length) {
                            case 1: $('#pages-doneOrReviewed').css('margin', '18.5em 0em 0em 0em');
                            break
                            case 2: $('#pages-doneOrReviewed').css('margin', '10.3em 0em 0em 0em');
                            break
                            case 3: $('#pages-doneOrReviewed').css('margin', '2.2em 0em 0em 0em');
                            break
                        }
                        if (doneOrReviewed[i].status == 'done') {
                            let temp_html = `<div class="reservationManagerPicture">
            <img width="100px" src='${doneOrReviewed[i].doctorImage}'>
        </div>
        <div class="reservationManagerInfo">
            <span>${doneOrReviewed[i].hospitalName}</span><br>
            <span>${doneOrReviewed[i].doctorName} 의사</span><br>
            <span>${doneOrReviewed[i].date}</span>
        </div>
        <div class="col-2">
        <button data-reservationId="${doneOrReviewed[i].id}" onclick="showReviewModal()" type="button" class="btn button-review">리뷰</button>
        </div>`;

                            $('#doneOrReviewed').append(temp_html);
                        } else {
                            let temp_html = `<div class="reservationManagerPicture">
                <img width="100px" src='${doneOrReviewed[i].doctorImage}'>
            </div>
            <div class="reservationManagerInfo">
                <span>${doneOrReviewed[i].hospitalName}</span><br>
                <span>${doneOrReviewed[i].doctorName} 의사</span><br>
                <span>${doneOrReviewed[i].date}</span>
            </div>
            <div class="col-2">
            <button data-reservationId="${doneOrReviewed[i].id}" type="button" class="btn button-review" style="background-color: cornflowerblue;"disabled>완료</button>
            </div>`;

                            $('#doneOrReviewed').append(temp_html);
                        }
                    }
                }
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#alertModal').modal('show');
            },
        });
    }
    function getCanceled(page) {
        $.ajax({
            type: 'GET',
            url: `/api/users/mypage/canceled?&page=${page}`,
            success: function (response) {
                const canceled = response;
                if (response.length === 0) {
                    $('#pages-canceled').css('margin', '26.6em 0em 0em 0em');
                    swal({
                        title: '🤔 취소된 진료없음',
                        text: '이 페이지에는 현재 진료를 취소한 내역이 없습니다.',
                        icon: 'info',
                    }).then(() => {
                        return
                    });
                    
                }
                if (page == 1 && !response.length) {
                    $('#pages-canceled').attr('class', 'd-none');
                } else {
                    for (let i = 0; i < canceled.length; i++) {
                        switch (canceled.length) {
                            case 1: $('#pages-canceled').css('margin', '20.1em 0em 0em 0em');
                            break
                            case 2: $('#pages-canceled').css('margin', '13.6em 0em 0em 0em');
                            break
                            case 3: $('#pages-canceled').css('margin', '7em 0em 0em 0em');
                            break
                        }
                        let temp_html = ` 
                        <div class="reservationManagerPicture">
            <img width="100px" src='${canceled[i].doctorImage}'>
            </div>
            <div class="reservationManagerInfo">
            <span>${canceled[i].hospitalName}</span><br>
            <span>${canceled[i].doctorName} 의사</span><br>
            <span class="text-muted">${canceled[i].date}</span>
            </div>
        `;
                        $('#canceled').append(temp_html);
                    }
                }
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#alertModal').modal('show');
            },
        });
    }
    function showInput() {
        $('#editButton').attr('onclick', 'hideInput()');
        $('#edit-button').attr('type', 'button');
        $('#edit-cancel-button').attr('type', 'button');
        $('#input-user-name').css('border', 'solid 2px');
        $('#input-user-name').removeAttr('disabled');
        $('#input-user-phone').css('border', 'solid 2px');
        $('#input-user-phone').removeAttr('disabled');
        $('#input-user-address').css('border', 'solid 2px');
        $('#input-user-address').removeAttr('disabled');
        
        return false;
    }
    function hideInput() {
        $('#editButton').attr('onclick', 'showInput()');
        $('#edit-button').attr('type', 'hidden');
        $('#edit-cancel-button').attr('type', 'hidden');
        $('#input-user-name').css('border', '0px');
        $('#input-user-name').attr('disabled', true);
        $('#input-user-phone').css('border', '0px');
        $('#input-user-phone').attr('disabled', true);
        $('#input-user-address').css('border', '0px');
        $('#input-user-address').attr('disabled', true);

        return false;
    }
    function editProfile() {
        const name = $('#input-user-name').val();
        const phone = $('#input-user-phone').val();
        const address = $('#input-user-address').val();
        $.ajax({
            type: 'PATCH',
            url: `/api/users/mypage/editprofile`,
            data: {
                name: name,
                phone: phone,
                address: address,
            },
            success: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.message);
                $('#modal-confirm').html('확인');
                $('#modal-confirm').attr('onclick', 'location.reload()');
                $('#alertModal').modal('show');
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#modal-confirm').attr('onclick', "$('#alertModal').modal('hide')");
                $('#alertModal').modal('show');
            },
        });
    }
    function showAddressModal() {
        $('#alertModalLabel').html('주소검색');
        const modalText = `
        <input type="text" id="zipCode" value="" onClick="addressWindowOpen();" placeholder="00000" readonly />

        <input type="button" onClick="addressWindowOpen();" value="우편번호 찾기" />

        <div id="wrap">
             <div id="closeBtn" onClick="addressWindowClose();">
             <i class="fa-sharp fa-solid fa-rectangle-xmark"></i>
        </div>
    <div>
        <input type="text" id="searchAddr" value="" onkeydown="enterSearch();"
            placeholder="도로명주소, 건물명 또는 지번 입력" />
        <input type="button" onClick="getAddr();" value="주소검색" />
    </div>

    <div>
        <div id="totoalOutcome">

            검색결과 : <span id="totalCnt">0</span>

        </div>
        <table id="list"></table>

    </div>

    <div id="pagingList" style='text-align:center;'></div>

</div>

<div style="height:5px;"></div>

<input type="text" id="roadaddress" value="" placeholder="도로명 주소, 지번 주소" readonly />

<div style="height:5px;"></div>

      `;
        $('#alertText').html(modalText);
        $('#modal-confirm').html('확인');
        $('#alertModal').modal('show');
    }

    function showCancelModal() {
        const reservationId = event.target.dataset.reservationid;
        $('#alertModalLabel').html('알림');
        const modalText = `
        정말 예약을 취소하시겠습니까?
      `;
        $('#alertText').html(modalText);
        $('#modal-confirm').html('확인');
        $('#modal-confirm').attr('onclick', `cancelReservation(${reservationId})`);
        $('#alertModal').modal('show');
    }

    function cancelReservation(reservationId) {
        $.ajax({
            type: 'PATCH',
            url: `/api/users/mypage/cancel/${reservationId}`,
            data: {},
            success: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.message);
                $('#modal-confirm').html('확인');
                $('#modal-confirm').attr('onclick', 'location.reload()');
                $('#alertModal').modal('show');
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#modal-confirm').attr('onclick', "$('#alertModal').modal('hide')");
                $('#alertModal').modal('show');
            },
        });
    }

    function showReviewModal() {
        const reservationId = event.target.dataset.reservationid;
        $('#alertModalLabel').html('리뷰 작성');
        const modalText = `

<div class="rating">

<input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
<input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
<input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
<input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
<input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
</div>

<div class="form-outline">
<textarea class="form-control" id="reviewContents" rows="4"></textarea>
</div>

`;
        $('#alertText').html(modalText);
        $('#modal-confirm').attr('onclick', `reviewReservation(${reservationId})`);
        $('#modal-confirm').html('리뷰 남기기');
        $('#alertModal').modal('show');
    }
    function reviewReservation(reservationId) {
        const star = $('input[name=rating]:checked').val();
        const contents = $('#reviewContents').val();

        $.ajax({
            type: 'POST',
            url: `/api/users/mypage/review/${reservationId}`,
            data: {
                star: star,
                contents: contents,
            },
            success: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.message);
                $('#modal-confirm').html('확인');
                $('#modal-confirm').attr('onclick', 'location.reload()');
                $('#alertModal').modal('show');
            },
            error: function (response) {
                $('#alertModalLabel').html('알림');
                $('#alertText').html(response.responseJSON.message);
                $('#modal-confirm').html('확인');
                $('#modal-confirm').attr('onclick', `$('#alertModal').modal('show');`);
                $('#alertModal').modal('show');
            },
        });
    }
    function nextPage(status) {
        const pages = 3;
        for (let i = 0; i < pages; i++) {
            $(`#${status}-page${i + 1}`).html(Number($(`#${status}-page${i + 1}`).html()) + 3);
        }
    }
    function previousPage(status) {
        const pages = 3;
        for (let i = 0; i < pages; i++) {
            if ($(`#${status}-page${i + 1}`).html() < 3) {
                return;
            } else {
                $(`#${status}-page${i + 1}`).html(Number($(`#${status}-page${i + 1}`).html()) - 3);
            }
        }
    }
    function showPage(status) {
        const page = $(`#${status}-page${event.target.dataset.page}`).html();
        const upperCase = status[0].toUpperCase() + status.slice(1, status.length);
        $(`#${status}`).empty();

        window[`get${upperCase}`](page);
    }
</script>