<style>
/* body 스타일 */
#address_modal {
    display: none;
    height: 800px;
    padding: 20px 200px;
    background-color: #fefefe;
    border: 2px solid #888;
    border-radius: 5px;
    overflow: hidden auto;

    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
}

#address_modal .modal_close_btn {
    position:absolute;
    display:inline-block;
    *display:inline;
    width:50px;
    height:50px;
    text-align:center;
    margin-right:20px;
    top: 30px;
    right: 10px;
}

#address_modal .modal_close_btn:after {content: "\00d7"; font-size:50pt;line-height:35px;}

#my_modal {
    display: none;
    height: 800px;
    padding: 20px 200px;
    background-color: #fefefe;
    border: 2px solid #888;
    border-radius: 5px;
    overflow: hidden auto;

    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
}

#my_modal .modal_close_btn {
    position:absolute;
    display:inline-block;
    *display:inline;
    width:50px;
    height:50px;
    text-align:center;
    margin-right:20px;
    top: 30px;
    right: 10px;
}

#my_modal .modal_close_btn:after {content: "\00d7"; font-size:50pt;line-height:35px;}

.popup_open_btn {
    box-shadow: none;
    background-color: #585858;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 2px #585858;
    color: #585858;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    height: 3.5em;
    letter-spacing: 0.35em;
    line-height: 3.45em;
    overflow: hidden;
    padding: 0 1.25em 0 1.6em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.popup_open_btn:hover {
    box-shadow: inset 0 0 0 2px darksalmon;
    color: darksalmon;
}

#reservation_time {
margin: 50px;
width: 600px;
border-collapse: collapse;
color: #505050;
/* 		border: 1px solid #dcdcdc; */
}

#reservation_time td.top {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
}
#reservation_time td.content {
    padding-bottom: 50px;
}

#calendar {
    margin-bottom: 50px;
    padding: 10px;
    width: 250px;
    color: #505050;
    border: 1px solid #dcdcdc;
}
#calendar td {
    padding: 10px;
}

#timeTable {
    margin-bottom: 50px;
    padding: 5px;
    width: 100%;
    color: #505050;
}
#timeTable td {
    padding: 8px;
}

#selectedDate {
    width: 200px;
    height: 25px;
    padding: 10px;
    color: #505050;
    font-size: 17px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
#selectedTime {
    width: 200px;
    height: 25px;
    padding: 10px;
    color: #505050;
    font-size: 17px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

#btn_submit {
    box-shadow: none;
    background-color: #585858;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 2px #585858;
    color: #585858;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    height: 3.5em;
    letter-spacing: 0.35em;
    line-height: 3.45em;
    overflow: hidden;
    padding: 0 1.25em 0 1.6em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
#btn_submit:hover {
    box-shadow: inset 0 0 0 2px darksalmon;
    color: darksalmon;
}

.btn_modal {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 15%;
    max-width: 20%;
}

</style>

<!-- Main -->
<div id="main">
    <div class="inner">
        <h1>진료예약</h1>
        <!-- Form -->
        <section>
            <form action="/reservation" id="reservationForm">
                <div class="row gtr-uniform">
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-first" name="demopriority" checked/>
                        <label for="demo-priority-first">초진</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-normal" name="demopriority" />
                        <label for="demo-priority-normal">재진</label>
                    </div>
                    <div class="col-7">
                        <select name="relationCategory" id="relationCategory">
                            <option value="미선택">- 환자와의 관계 -</option>
                            <option value="본인">본인</option>
                            <option value="직계">직계</option>
                            <option value="배우자 및 배우자의 직계">배우자 및 배우자의 직계</option>
                            <option value="형제·자매">형제·자매</option>
                            <option value="기타">기타</option>
                        </select>
                    </div>
                    <div class="col-5" id="divSelfWrite">
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input
                            type="text"
                            name="patientName"
                            id="patientName"
                            value=""
                            placeholder="환자이름"
                        />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input
                            type="text"
                            name="proxyName"
                            id="proxyName"
                            value=""
                            disabled
                            placeholder="대리신청인"
                        />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input
                            type="text"
                            name="idNumber"
                            id="idNumber"
                            value=""
                            placeholder="환자의 주민등록번호( - 를 포함해주세요 )"
                        />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input
                            type="text"
                            name="phone"
                            id="phone"
                            value=""
                            placeholder="연락처( - 를 포함해주세요 )"
                        />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input
                            type="text"
                            name="address"
                            id="address"
                            value=""
                            disabled
                            placeholder="주소"
                        />
                    </div>
                    <div class="btn_modal">
                        <a class="popup_open_btn" id="popup_open_btn" onclick="reservationTime()">예약시간찾기</a>
                    </div>
                    <div class="btn_modal">
                        <a class="popup_open_btn" id="popup_address_btn" onclick="reservationAddress()">주소찾기</a>
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input
                            type="text"
                            name="reservationSelectedDate"
                            id="reservationSelectedDate"
                            value=""
                            disabled
                            placeholder="예약날짜"
                        />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input
                            type="text"
                            name="reservationSelectedTime"
                            id="reservationSelectedTime"
                            value=""
                            disabled
                            placeholder="예약시간"
                        />
                    </div>
                    <div class="col-12">
                        <textarea
                            name="message"
                            id="message"
                            placeholder="간단한 증상을 적어주세요 ( ex. 두통, 기침, 숨막힘, 복통 등 )"
                            rows="6"
                        ></textarea>
                    </div>
                    <p><h2>개인정보는 어디다 쓸거냐면요~</h2>

                        <span class="image left"><img src="images/pic14.jpg" alt="" /></span
                        >Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis
                        eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
                        Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
                        faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget.
                        tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                        adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                        Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis
                        tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
                        in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
                        adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt
                        felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in
                        faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
                        adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit
                        adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                        Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                        adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                        Integer ac pellentesque praesent.
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-high" value=1 name="demo2priority" />
                        <label for="demo-priority-high">개인정보 동의</label>
                    </div>
                    <div class="col-4 col-12-small">
                        <input type="radio" id="demo-priority-low" value=2 name="demo2priority" checked/>
                        <label for="demo-priority-low">개인정보 미동의</label>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li>
                                <input type="button" value="예약하기" class="primary" onclick="reservaionCheck()"/>
                            </li>
                            <li><input type="reset" value="다지우기" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<div id="my_modal">
    <div class="mainBox">
        <div class="contentBox">
            <div class="textLeft"><span style="color: #505050; font-size:40px; font-weight:700">예약하기</span>
            <div class="underline"></div>
        </div>
            <table id="reservation_time">
                <tr>
                    <td class="top" align="left">시간선택</td>
                    <td class="top" align="right"><button class="btnTime" type="button" onclick="tableinit()">초기화</button></td>
                </tr>
                <tr>
                    <td>
                        <table id="calendar">
                            <tr>
                                <td align="center"><label onclick="prevCalendar()"> ◀ </label></td>
                                <td colspan="5" align="center" id="calendarTitle">yyyy년 m월</td>
                                <td align="center"><label onclick="nextCalendar()"> ▶ </label></td>
                            </tr>
                            <tr>
                                <td align="center"><font color ="#F79DC2">일</td>
                                <td align="center">월</td>
                                <td align="center">화</td>
                                <td align="center">수</td>
                                <td align="center">목</td>
                                <td align="center">금</td>
                                <td align="center"><font color ="skyblue">토</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr> 
                    <!-- <td class="top"</td> -->
                    <td class="top" align="left" colspan="2">
                        <table id="doctorTable"></table>
                        <table class="timetable" id="timeTable"></table>
                    </td>
                </tr>
                <tr> 
                    <td class="top" align="left" colspan="2">예약일시</td>
                </tr>
                <tr>
                    <td class="content" colspan="2" align="left">
                        <input id="selectedDate" style="border:none; width:100px"  name="selectedDate" value="" readonly="readonly" ></input>
                        <input id="selectedTime" style="border:none"  name="selectedTime" value="" readonly="readonly"></input>
                    </td>
                </tr>
                <tr>
                    <td class="content" align="left" colspan="2">
                    <input id="btn_submit" type="button" value="예약하기" onclick="submitRes()"></td>
                <tr>
            </table>
        </div>
    </div>
    <a class="modal_close_btn"></a>
</div>

<div id="address_modal">
    <div class="mainBox">
        <div class="contentBox">
            <div class="textLeft"><span style="color: #505050; font-size:40px; font-weight:700">주소 검색</span>
            <div class="underline"></div>
        </div>
        <input type="hidden" id="currentPage" value="1" style="text-align:center;"/>
        <input type="hidden" id="countPerPage" value="5" style="text-align:center;"/>
        <input type="text" id="zipCode" value="" onClick="addressWindowOpen();" placeholder="00000" readonly/>
        <input type="button" onClick="addressWindowOpen();" value="우편번호 찾기"/>
        <div id="wrap">
            <div>
                <input type="text" id="searchAddr" value="" onkeydown="enterSearch();" placeholder="도로명주소, 건물명 또는 지번 입력"/>
                <input type="button" onClick="getAddr();" value="주소검색"/>
            </div>
            <div id ="closeBtn"  onClick="addressWindowClose();">
                <i class="fa-sharp fa-solid fa-rectangle-xmark"></i>
            </div>
            <div>
                <div id="totoalOutcome">
                    검색결과 : <span id="totalCnt">0</span>
                </div>
                <table id="list"></table>
            </div>
            <div id="pagingList" style='text-align:center;'></div>
        </div>
        <div style="height:5px;"></div>
        <input type="text" id="reservationAddress" value="" placeholder="도로명 주소, 지번 주소" readonly/>
        <div style="height:5px;"></div>
        <input type="text" id="detailAddress" onkeypress="javascript:if(event.keyCode===13) {inputData()}" value="" placeholder="상세 주소지 입력"/>
        <input type="button" value="입력" onclick="inputData()" />
        </div>
    </div>
    <a class="modal_close_btn"></a>
</div>

<script src="/js/reservation.js"></script>