<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<form action="" method="post">
    <table>
        <tr>
            <td>성함 : </td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td>이메일 : </td>
            <td><input type="text" id="email" name="email"></td>
        </tr>
        <tr>
            <td>비밀번호 : </td>
            <td><input type="password" id="password" name="password"></td>
        </tr>
        <tr>
            <td>비밀번호확인 : </td>
            <td><input type="password" id="confirm" name="confirm">&nbsp;<span id="check"></span></td>
        </tr>
        <tr>
            <td>전화번호 : </td>
            <td><input type="text" id="phone" name="phone"></td>
        </tr>
        <tr>
            <td>주민등록번호 : </td>
            <td><input type="password" id="idNumber" name="idNumber"></td>
        </tr>
        <button class="button signup__submit" id="signup">회원가입</button>
    </table>
</form>
<script>

function check_pw(){
 
 var pw = document.getElementById('password').value;
 var SC = ["!","@","#","$","%"];
 var check_SC = 0;

 if(pw.length < 6 || pw.length>16){
     window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
     document.getElementById('password').value='';
 }
 for(var i=0;i<SC.length;i++){
     if(pw.indexOf(SC[i]) != -1){
         check_SC = 1;
     }
 }
 if(check_SC == 0){
     window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
     document.getElementById('password').value='';
 }
 if(document.getElementById('password').value !='' && document.getElementById('confirm').value!=''){
     if(document.getElementById('password').value==document.getElementById('confirm').value){
         document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
         document.getElementById('check').style.color='blue';
     }
     else{
         document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
         document.getElementById('check').style.color='red';
     }
 }
}

document.getElementById('signup')
fetch('localhost:3000/api/users/signup/customer', {
        method : "POST",
        body : JSON.stringify({
            name : name,
            loginId : email,
            password : password,
            confirm : confirm,
            phone : phone,
            idNumber : idNumber

        }),
        headers : {
            'Content-Type' : 'application/json',
            'Accept' : 'application/json'
        }
    })
    .then(res => res.json())
    .then(res => {
        console.log(res)
    })

//         fetch('API 주소 넣어주기',{
// 	headers : {
//     	//헤더에 들어갈 것들
//     }
// }).then(response => response.json())
//   .then(response => {
//   	//fetch 이후 작동할 코드들이 들어간다.
//   })

        //파트너 맺기? 누르면 partner로 api 연결
</script>

</body>
</html>