body {
    margin: 0;
    list-style: none;
}

button {
    background-color: #216cad;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #94b8d6;
}

a {
    text-decoration: none;
}

#homeIcon:hover {
    background-color: #eee;
}

.listBox:hover {
    background-color: #eee;
}
.header { 
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #22222222;
}

#homeIcon {
    color: #216cad;
    font-size: 3.5vh;
    font-weight: bold;
}

#listBtn {
    position: absolute;
    bottom: 10vh;
    right: 50%;
    width: 300px;
    height: 50px;
    border: 3px solid #216cad;
    background-color: #fff;
    color: #222;
    z-index: 1;
    margin-right: -150px;
}

input[id='menuIcon'] {
    display: none;
}

input[id='menuIcon'] + label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    transition: all 0.35s;
    cursor: pointer;
    z-index: 3;
    margin-right: 10px;
}

input[id='menuIcon'] + label span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #216cad;
    transition: all 0.35s;
}

input[id='menuIcon']:checked + label span:nth-child(1) {
    opacity: 0;
}

input[id='menuIcon']:checked + label span:nth-child(2) {
    transform: scale(1.5, 3);
}

input[id='menuIcon']:checked + label span:nth-child(3) {
    opacity: 0;
}

div[class='sidebar'] {
    width: 400px;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 2;
    transition: all 0.35s;
    overflow: scroll;
}

input[id='menuIcon']:checked + label + div {
    right: 0;
}

img {
    width: 100px;
    height: 100px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
    border: 1px solid #22222222;
}

input[id='departmentCheckbox'] {
    display: none;
}

input[id='departmentCheckbox'] + label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    transition: all 0.35s;
    cursor: pointer;
    z-index: 3;
    margin-left: 10px;
}

input[id='departmentCheckbox'] + label span {
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #216cad;
    transition: all 0.35s;
}

input[id='departmentCheckbox']:checked + label span:nth-child(1) {
    opacity: 0;
}

input[id='departmentCheckbox']:checked + label span:nth-child(2) {
    transform: scale(1.5, 3);
}

input[id='departmentCheckbox']:checked + label span:nth-child(3) {
    opacity: 0;
}

div[class='boxwrap'] {
    width: 400px;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: -400px;
    z-index: 2;
    transition: all 0.35s;
    overflow: scroll;
    border: 1px solid #22222222;
}

input[id='departmentCheckbox']:checked + label + div {
    left: 0;
}

img {
    width: 100px;
    height: 100px;
}

.boxwrap::-webkit-scrollbar {
    display: none;
}

.boxwrap {
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

#pageMoveButton {
    width: 380px;
    height: 50px;
    margin-left: 10px;
    margin-top: 50px;
    justify-content: center;
}

.listBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

li:last-child {
    margin-bottom: 20px;
}

.hospitalInfo {
    width: 260px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doctorImg {
    margin-left: 10px;
}

.info {
    width: 380px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hospitalImage {
    width: 380px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

#departmentwrap {
    display: flex;
    justify-content: space-between;
}

.division {
    margin-top: 5vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#departmentBtn {
    width: 380px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

#resetBtn {
    width: 380px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

.swal-button {
    background-color: white;
    color: #585858 !important;
    box-shadow: inset 0 0 0 2px #585858;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.swal-button:not([disabled]):hover {
    background-color: transparent;
    color: #f2849e !important;
    box-shadow: inset 0 0 0 2px #f2849e;
}

.swal-text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0 90px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.64);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}
